@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(7, 5, 26);
  color: white;
}

@layer utilities {
  .min-h-calc {
    height: calc(100vh - 1rem);
  }
}

.nav-section {
  @apply w-full flex items-center justify-between mb-3;
}
.nav-section-title {
  @apply font-semibold ;
}
.nav-section-details {
  @apply font-extralight text-sm text-gray-400;
}

.nav-footer {
  @apply italic text-xs font-thin;
}
